.fill-space {
  height: 100%;
  width: 100%;
  margin: 0;
}

.column {
  display: flex;
  flex-direction: column;
}

.column > * {
  flex-grow: 1;
}

.three-per-row > * {
  min-width: 100%;
}

@media (min-aspect-ratio: 9/16) {
  .three-per-row > * {
    min-width: 50%;
  }
}

@media (min-aspect-ratio: 1/1) {
  .three-per-row > * {
    min-width: 33.33%;
  }
}
