ul {
  list-style-type: none;
}

h2 {
  color: var(--ion-color-primary);
}

ul {
  color: var(--ion-color-secondary);
  margin: 0;
  padding: 0;
}

.domain {
  border: 2px solid var(--ion-color-secondary);
  width: fit-content;
  margin: auto;
  padding: 1em;
}

.line {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.line > * {
  min-width: fit-content;
  flex-grow: 1;
  flex-basis: 0em;
  margin: 0.1em;
}
