.copy-button {
   display: flex;
   align-items: center;
   justify-content: space-between;

   > * {
     margin-left: 0.5em;
     margin-right: 0.5em;
   }
   IonLabel {
     color: var(--ion-text-color)
   }
}
