.fill-space {
  height: 100%;
  width: 100%;
  margin: 0;
}

.swiper .swiper-slide {
  font-size: 1.1rem !important;
}

.swiper-pagination {
  font-size: 1rem;
}

@media (max-width: 480px) {
  .if-wide {
    display: none !important;
  }

}

@media (min-width: 480px) {
  .if-not-wide {
    display: none !important;
  }
}

html {
  font-size: calc(max(16px + 0.01 * (100vh - 900px), 10px));
}

.placeholder {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
